{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
	#border
	{
	font-family: sans-serif;
	background-color: #e1f7ed;
	width: 350px;
	border: 8px  #0A617E;
	padding: 30px;
	margin: 20px;
	margin-left: 350px;
	
	}
</style>

<!-- ================ contact section start ================= -->
<section class="contact-section">
		<div class="container">
			
			<div class="row">
				<div class="col-12">
								
					<p style="text-align: center;"> 
						<div id= border>
							<p class="m-auto">
								Your password has been reset. You may go ahead and <a href="{% url 'log_in' %}">sign in</a> now.
							</p>
						</div>
					</p>  
				</div>
			</div>
							  
		</div>
	</section>


{% endblock %}