
{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<br>
<br>
<div class="form-v10">
	<br>
	<div class="row justify-content-center">
		<div class="col-lg-6">
			<div class="section_title text-center mb-55">
				<h3><span>Report Found Item</span></h3>
			</div>
		</div>
	</div>

	<div class="page-content" id="back" style= "background-image: url({% static 'images/bg8.jpg'%});">
		<div class="form-v10-content">
			<form class="form-detail" action="#" method="post" id="myform" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-left">
					<h2 style="color:  #1c8aaf;">Details of Found Item</h2>
					
					<div class="form-row">
						<select name="Category">
						    <option value="Category">Category</option>
							<option value="Bag">Bag,Baggages</option>
							<option value="Identity Proof">Identity Proof</option>
							<option value="Medical Equipment">Medical Equipment</option>
							<option value="Musical Equipment">Musical Equipment</option>
							<option value="Personal Accessories">Personal Accessories</option>
							<option value="Sporting Goods">Sporting Goods</option>
							<option value="Toys">Toys</option>
							<option value="Vehicles">Vehicles</option>
						</select>
						<span class="select-btn">
						  	<i class="zmdi zmdi-chevron-down"></i>
						</span>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="location" class="street" id="street" placeholder="Location/Event name" required>
						</div>
						<div class="form-row form-row-1">
							<input type="text" name="city" class="input-text" placeholder="City" required>
						</div>
						
					</div>
					<div class="form-row">
						<input type="text" name="state" id="your_email" class="input-text" placeholder="State " required>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1" >
							<p  style="color:#666; font-size:large;" >&emsp; Found Date:</p>	
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="date" class="form-control datepicker-here"  data-language='en' data-date-format="yyyy-mm-dd" id="dp1" style="color:#666" required>
						</div>
					</div>
				
				</div>
				<div class="form-right" style="background: #1c8aaf;">
					<h2>Upload Image of Found Item</h2>
					    <div class=form-row>
					        <div class="avartar"></p>
								<p><a href="#">
									<img src="{% static 'images/reg/pp.jpg'%}" alt="" height="120" width="120">
								</a></p>
					           <div class="avartar-picker">
									<input type="file" name="file_1" id="file-1" class="inputfile" data-multiple-caption="{count} files selected" multiple required>
									
								</div>
								<p style="color: white;">Note: Img must be of size 300*400</p>
							</div>
						</div>		
						<div class="form-row">
							<input type="text" name="desc" class="company" id="company" placeholder="Description of item" required>
						</div>  
						
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="SUBMIT">
					</div>
				</div>
			</form>
		</div>
	</div>
	
				
</div>
{% endblock %}