{% extends 'base.html '%}
{% load static %}
{% block content %}
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/bg8.jpg' %});">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form action="log_in" method="POST" class="login100-form validate-form">
                    {% csrf_token %}
					<div class="login100-form-avatar">
						<img src="{% static 'images/login/unnamed.jpg' %}" alt="NO IMAGE">
					</div>

					<span class="login100-form-title p-t-20 p-b-45" style="color:#083e50;">
						LOGIN
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" type="text" name="email" placeholder="Email ID">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn"  style="background-color: #0e4f66;">
							Login
						</button>
					</div>

					<div class="text-center w-full p-t-25 p-b-230">
						<a href="{% url 'password_reset' %}" class="txt1">
							<b style="color: white;">Forgot Password?</b>
						</a>
					</div>
					
                    

					
                </form>
                
            </div>
            <div class="text-center w-full">
                {% for message in messages %}
               <h3 style="color: white;">{{message}}</h3> 
               {% endfor %}
            </div>
            <div class="text-center w-full">
                <a class="txt1" href="{% url 'register' %}">
                    <b style="color: white;">Create new account</b>
                    <i class="fa fa-long-arrow-right"></i>						
                </a>
            </div>
		</div>
	</div>
	{% endblock %}